<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     Produtos
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin"><i class="fas fa-home"></i></a>
    </li>
    <li>
      <a href="/admin/products"><i class="fas fa-box-open"></i></a>
    </li>
    <li class="active">
      <a href="#"><i class="fas fa-edit"></i></a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Produto</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/products/{$product.idproduct}" method="post" enctype="multipart/form-data">
          <div class="box-body">
            <div class="form-group">
              <label for="descproduct">Código do Produto</label>
              <input type="text" class="form-control" id="codproduct" name="codcproduct" placeholder="Digite o nome do produto" value="{$product.codproduct}">
            </div>

            <div class="form-group">
              <label for="descproduct">Nome do produto</label>
              <input type="text" class="form-control" id="descproduct" name="descproduct" placeholder="Digite o nome do produto" value="{$product.descproduct}">
            </div>

            <div class="form-group">
              <label for="vlprice">Preço</label>
              <input type="number" class="form-control" id="vlprice" name="vlprice" step="0.01" placeholder="0.00" value="{$product.vlprice}">
            </div>

          </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
