<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Produtos
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fas fa-home"></i> Home </a>
      </li>
    <li class="active">
      <a href="/admin/products">
        <i class="fas fa-box-open"></i> Produtos</a>
    </li>
    <li>
      <a href="/admin/products/create">
        <i class="fas fa-plus"></i> Cadastro</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Novo Produto</h3>
        </div>
        {if="$error != ''"}
          <div class="alert alert-danger">
              {$error}
          </div>
        {/if}
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/products/create" method="post">
          <div class="box-body">
            <div class="form-group">
                <label for="vlprice">Código do produto</label>
                <input type="text" autofocus class="form-control" id="codproduct" name="codproduct" step="0.01" placeholder="12asd">
            </div>

            <div class="form-group">
              <label for="vlprice">Preço</label>
              <input type="number" autofocus class="form-control" id="vlprice" name="vlprice" step="0.01" placeholder="0.00">
            </div>

            <div class="form-group">
              <label for="descproduct">Descrição do produto</label>
              <textarea type="text" class="form-control" id="descproduct" rows="2" name="descproduct" placeholder="Digite a descrição"></textarea>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
