<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Vendas
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="/admin"><i class="fas fa-home"></i></a>
        </li>
        <li class="active"><a href="/admin/sales"><i class="fas fa-shopping-cart"></i></a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">

                <div class="box-header">
                  <div class="box-tools">
                    <form action="/admin/sales">
                      <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" value="{$search}">
                        <div class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="box-body no-padding">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Nº da venda</th>
                        <th>Valor Total</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {loop="$sales"}
                      <tr>
                        <td>{$value.idsales}</td>
                        <td>{$value.vltotal}</td>
                        <td>{if="$value.idstatus == 1"}Confirmado{else}Em aberto{/if}</td>
                      </tr>
                      {else}
                      <tr>
                        <td colspan="6">Nenhuma venda confirmada foi encontrada.</td>
                      </tr>
                      {/loop}
                    </tbody>
                  </table>
                </div>

                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    {loop="$pages"}
                    <li><a href="{$value.href}">{$value.text}</a></li>
                    {/loop}
                  </ul>
                </div>
              </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
