<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editar Senha do Usuário
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin"><i class="fas fa-home"></i></a>
    </li>
    <li>
      <a href="/admin/users"><i class="fas fa-user"></i></a>
    </li>
    <li class="active">
      <a href="#"><i class="fas fa-edit"></i></a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Senha do Usuário</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        {if="$msgError != ''"}
        <div class="alert alert-danger alert-dismissible" style="margin:10px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{$msgError}</p>
        </div>

        {elseif="$msgSuccess != ''"}
        <div class="alert alert-success alert-dismissible" style="margin:10px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{$msgSuccess}</p>
        </div>
        {/if}

        <form role="form" action="/admin/users/{$user.iduser}/password" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="despassword">Nova Senha</label>
              <input type="password" class="form-control" id="despassword" name="despassword" placeholder="Nova senha">
            </div>
            <div class="form-group">
              <label for="despassword-confirm">Confirme a senha</label>
              <input type="password" class="form-control" id="despassword-confirm" name="despassword-confirm" placeholder="Confirme a nova senha">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
