
.login-page {
  background-image: linear-gradient(to left, rgba(0, 0, 0)5%, rgba(0, 0, 0, 0.5)95%);
  max-height: 100vh;
}

.login-page-site {
  background-image: linear-gradient(to right, rgba(0, 0, 0)5%, rgba(0, 0, 0, 0.5)95%);
  max-height: 100vh;
}


