<footer class="main-footer">
    <strong>Copyright &copy; 2019 <a href="https://elessandroprestes.github.io/e10/"
            target="blank">Elessandro</a>.</strong> All rights reserved.
</footer>


<div class="control-sidebar-bg"></div>
</div>

<script src="/res/default/assets/js/jquery.js"></script>
<script src="/res/default/assets/js/bootstrap.js"></script>
<script src="/res/default/assets/js/app.js"></script>

</body>

</html>
