<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Produtos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fas fa-home"></i></a></li>
    <li class="active"><a href="/products"><i class="fas fa-box-open"></i></a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">

            <div class="box-header">
              <div class="box-tools">
                <form action="/products">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="searchid" class="form-control pull-right" placeholder="Buscar" value="{$searchid}">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Cod do Produto</th>
                    <th>Preço</th>
                    <th>Descrição do Produto</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$products"}
                  <tr>
                    <td>{$value.codproduct}</td>
                    <td>{$value.vlprice}</td>
                    <td>{$value.descproduct}</td>
                  </tr>
                  {else}
                    <tr>
                      <td colspan="6">Nenhum produto foi encontrado.</td>
                    </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
