<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Vendas
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="active"><a href="/sales"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-md-8">
              <div class="box box-primary">

                    <div class="box-header">
                      <div class="box-tools">
                      </div>
                    </div>

                    <div class="box-body no-padding">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Venda Atual :</th>
                          </tr>
                          <tr>
                            <th>Lista de Produtos</th>
                          </tr>
                        </thead>
                        <tbody>

                          {loop="$products"}
                          <tr>
                            <td>{$value.codproducts}</td>
                            <td>{$value.descproduct}</td>
                            <td>{$value.vlprice</td>
                          </tr>
                          {else}
                          <tr>
                            <td colspan="6">Nenhum produto foi adicionado.</td>
                          </tr>
                          {/loop}
                        </tbody>
                      </table>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                      </ul>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-danger btn-sm btn-canc btn-canc-sales" value="0">Cancelar</button>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">

                    <div class="box-header">
                      <div class="box-tools">
                          <form action="/sales">
                            <div class="input-group input-group-sm" style="width: 21vw;">
                              <input type="text" name="searchid" id="searchid" class="form-control pull-right" placeholder="Buscar Produto" value="">
                              <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                              </div>
                            </div>
                          </form>

                      </div>
                    </div>

                    <div class="box-body no-padding">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>

                          {loop="$products"}
                          <tr>
                          </tr>
                          {else}
                          <tr style="background:#f56e6b">
                            <td style="color: #fff"colspan="6">Produto não cadastrado.</td>
                          </tr>
                          {/loop}
                        </tbody>
                      </table>
                    </div>


                  </div>
                  <button style="float: right" type="submit" class="btn btn-success btn-sm btn-right" value="1">Confirmar</button>
            </div>
          </div>

        </section>
        <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
